
.Input{
  /* 공통 style */
  display: inline-block;
  text-align: left;
  /* default direction은 column */
  
  .validation-text{
    display: block;
    margin-top: 0.5em;
  }
  &.row{
    .label-text{
      vertical-align: middle;
      margin-right: 1em;
      display: inline-block;
    }
    .input-wrap{
      display: inline-block;
    }
  }
  .input-wrap{
    flex: 1 1 0;
    position: relative;
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #e1e5e9;
    transition: all 0.4s;
    &:focus-within{
      border: 1px solid #22a9f9;
      box-shadow: 0 0 5px #22a9f9;
      //outline: skyblue solid 3px;
    }
    &.disabled{
      background-color: #f1f5f9;
    }
    //background-color:red;
    input{
      //width: 100%;
      outline: none;
      border: none;
      background-color: transparent;
      &::placeholder{
        color: #e1e5e9;
      }
    }
    
    .prefix-icon{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      padding: 0.75em;
      margin-right: 0.25em;
      color: #e1e5e9;
      & > svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    button.clear-btn{
      vertical-align: middle;
      margin-left: 0.25em;
      position: relative;
      background: transparent;
      border: none;
      
      padding: 0.75em;
      height: 100%;
      color: #e1e5e9;
      & > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
      }

    }
  }
  


}
