@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.Input{
  position: relative;
  display: inline-block;
  font-family: 'Varela Round', sans-serif;
  &:focus-within{
    .label-text{
      color:#9facbb;
    }
    .input-wrap > input{
      border-color: #2f96ef;
    }
    .input-wrap > .prefixed-icon{
      opacity: 1;
    }
  }
  .label-text{
    display: block;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.5em;
    color: rgba(#9facbb,0.5);
  }
  .validation-text{
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0.5em;
    color: #9facbb;
  }
  .input-wrap{
    position: relative;

    .prefixed-icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 1em;
      opacity: 0.5;
    }
    input{
      &.prefix{
        padding-left: 3em;
      }
      width: 100%;
      outline: none;
      padding: 1em;
      border: 3px solid rgba(#2f96ef,0.5);
      border-radius: 7px;
      padding-right: 3em;
      box-sizing: border-box;
    }
  
    .toggle-btn{
      font-size: 14px;
      display: inline-flex;
      background: transparent;
      border: 0;
      position: absolute;
      padding: 0.25em;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      color: #9facbb;
      background:#f1f9ff;
      border-radius: 100%;
      outline:none;
      cursor:pointer;
      &:focus{
        box-shadow: 0px 3px 6px rgba(black, 0.06);
      }
      &:active{
        background-color: #e1e9ef;
      }
    }
  }
}


.Input.row{
  .label-text{
    display: inline-block;
    padding-right: 0.5em;
  }
  .input-wrap{
    display: inline-block;
  }
}

.Input.invalid{
  &:focus-within{
    .input-wrap > input{
      border-color: #ff8180;
    }
  }
  .validation-text{
  color: #ff8180;;
  }

  .input-wrap{
    input{
      border: 3px solid rgba(#ff8180,0.5);
    }
  }
}


.validator{
  margin-top: 0.5em;
  text-align: left;
  &.weak{
    .bar:nth-child(1){background:#ff8180}
  }
  &.fair{
    .bar:nth-child(1){background:#ff8180}
    .bar:nth-child(2){background: #fac675}
  }
  &.strong{
    .bar:nth-child(1){background:#ff8180}
    .bar:nth-child(2){background: #fac675}
    .bar:nth-child(3){background: #6fc7a4}
  }
  .bar{
    display: inline-block;
    width: 20%;
    height: 6px;
    background: #f3f4f9;
    border-radius: 6px;
    transition: background-color 0.4s;
    & + .bar{
      margin-left: 2px;
    }
  }
  .validator-text{
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #9facbb;
  }
}
