@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.Input{

  &.--block{
    display: block;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

